
* {
	font-family: Roboto, sans-serif;
	text-align: center;
}

body {
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
	align-items: ;
	color: #f9faf8
}

.carrousel {
	background-color: #f9faf8;
	color: #1f2937;
}

.quotecontainer {
	background-color: #E5E7EB;
	color: #1f2937;
	display: flex;
	justify-content: center;
}

.quote {
	width: 400px;
	text-align: justify;
	padding: 20px;
}

.author {
	display: block;
	text-align: right;
}

.call {
	border-width: 20px;
	border-color: #f9faf8;
	background-color: #3882F6;
	display: flex;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerlinks {
	display: flex;
}

.footer {
	text-align: center;
	padding: 5px;
}

h1 {
	text-align: center;
	margin: 20px;

}

img {
	display: inline-flexbox;
	text-align: right;
	float:left;
}

ul {
	list-style: none;
}


a {
	padding: 10px;
	text-decoration: none;
	color: #8d8d8d;
}

li {
	margin: 1px 8px;
	padding: 2px;
}

