
* {
	font-family: "Brush Script MT", "Lucida Handwriting", cursive;
	
}

body {
	background-color: rgb(241, 241, 235);
}

h1 {
	text-align: center;
	margin: 20px;
	color: rgb(87, 5, 5);
}

img {
	display: inline-flexbox;
	text-align: right;
	float:left;
}

a {
	color: rgb(197, 45, 45);
	padding: 10px;
	text-decoration: none;
}

li {
	margin: 1px 8px;
	padding: 2px;
}

.content {
	text-align: left;
	display: inline-flexbox;
	color: black;
	font-family: "Brush Script MT", "Lucida Handwriting", cursive;
}
