
* {
	font-family: Roboto, sans-serif;

}

body {
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
	color: #f9faf8
}

.presentation {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 50px 100px 50px;
	gap: 50px;
}

.presentation>img {
	background-color: #6b737e;
	width: 500px;
	height: 250px;
	text-align: center;
}

.presentationDescription {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 500px;
	text-align: left;
}

.presentationDescription>h1 {
	font-size: 48px;
	padding: 0px;
	margin: 0px;
}

.presentationDescription>p {
	font-size: 18px;
	color: #E5E7EB;
	padding: 0;
	margin: 0;
}

.presentationDescription>button {
	background-color: #3882F6;
	color: #E5E7EB;
	font-size: 20px;
	padding: 5px 30px;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
}

.heart {
	background-color: #f9faf8;
}

.carrousel {
	color: #1f2937;
}

.quotecontainer {
	background-color: #E5E7EB;
	color: #1f2937;
	display: flex;
	justify-content: center;
}

.quote {
	text-align: justify;
	width: 900px;
	padding: 50px;
}

.quote>em {
	font-size: 36px;
	font-weight: 300;
}

.quote>strong{
	font-size: 28px;
}

.author {
	display: block;
	text-align: right;
}

.call {
	margin: 100px;
	border-radius: 6px;
	border-color: #f9faf8;
	background-color: #3882F6;
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.headerlinks {
	display: flex;
}

.footer {
	text-align: center;
	padding: 5px;
}

ul {
	list-style: none;
}

a {
	padding: 10px;
	text-decoration: none;
	color: #8d8d8d;
}

li {
	margin: 1px 8px;
	padding: 2px;
}

