
* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
	color: #f9faf8;
	margin: 0;
}

.presentation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 100px 200px 100px 200px;
	gap: 50px;
}

.presentation>img {
	background-color: #6b737e;
	width: 500px;
	height: 250px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.presentationDescription {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

.presentationDescription>h1 {
	font-size: 48px;
	padding: 0px;
	margin: 0px;
}

.presentationDescription>p {
	font-size: 18px;
	color: #E5E7EB;
	padding: 0;
	margin: 0;
}

.presentationDescription>button {
	background-color: #3882F6;
	color: #E5E7EB;
	font-size: 20px;
	padding: 5px 30px;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
}


.carrouselgroup {
	background-color: #f9faf8;
	color: #1f2937;
	padding: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carrouselgroup>h1 {
	margin: 0 0 30px 0;
}

.carrousel {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 100px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 200px;
	margin: 0;
}

.card>img {
	border-color: #3882F6;
	border-width: 4px;
	border-style: solid;
	border-radius: 12px;
	height: 150px;
	width: 150px;
	margin: 0px;
}

.quotecontainer {
	background-color: #E5E7EB;
	color: #1f2937;
	display: flex;
	justify-content: space-around;
	padding: 100px 300px 100px 300px;
	margin: 0;
}

.quote {
	text-align: justify;
	flex: 1;
}

.quote>em {
	font-size: 36px;
	font-weight: 300;
	color: #8d8d8d;
	padding: 10px;
}

.author {
	display: block;
	text-align: right;
	color: #1f2937;
	font-size: 24px;
}

.callcontainer {
	background-color: #f9faf8;
}

.call {
	margin: 100px 200px;
	border-radius: 8px;
	border-color: #f9faf8;
	background-color: #3882F6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px 50px;
}

.calldescription {
	font-size: 18px;
}

.calldescription>h1 {
	font-size: 28px;
	padding: 0;
	margin: 0;
}

.calldescription>p {
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.call>button {
	padding: 5px 30px;
	background-color: #3882F6;
	border-radius: 6px;
	border-color: #E5E7EB;
	border-style: solid;
	color: #E5E7EB;
	font-size: 18px;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 50px;
}

.headerlinks {
	display: flex;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.footer {
	text-align: center;
	padding: 5px;
}

ul {
	list-style: none;
}

a {
	padding: 10px;
	text-decoration: none;
	color: #8d8d8d;
}

li {
	margin: 1px 8px;
	padding: 2px;
}

